<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.agora.ktv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ktv_launcher"
        android:label="@string/ktv_app_name"
        android:requestLegacyExternalStorage="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/ktv_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <activity
            android:name=".view.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CreateRoomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RoomListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RoomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>